* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-zho.pc.in -text
/apertium-zho.post-zho.dix -text
/apertium-zho.zho.acx -text
/apertium-zho.zho.dix -text
/apertium-zho.zho.rlx -text
/autogen.sh -text
/configure.ac -text
dev/zho.speling.txt -text
/modes.xml -text
/zho.prob -text svneol=unset#unset
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
